@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Roboto+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    background-color: rgb(214, 231, 250);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: rgb(214, 231, 250);
}

h1{
    align-self: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: max(2rem, 4rem);
    margin-top: 1rem;
    color: white;
    text-shadow: rgb(24, 31, 42) 0px 0px 5px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:0.40rem;
    padding: 1.6rem;
    border-radius: 0.5rem;
    border: 3px solid rgb(127, 180, 249);
    background-color: white;
    box-shadow: 0rem 0rem 0.5rem 0 rgb(56, 142, 255);
    width: clamp(20rem, 70%, 50rem);
    margin: 0 max(2rem, 30rem);
}

.wrapper .qtn{
    margin-bottom: 0.85rem;
    font-size: 1.3rem;
    font-weight: 800;
}

.wrapper .aws{
    text-align: left;
}
.wrapper .aws:hover{
    cursor: pointer;
    background-color: rgb(214, 231, 250);
    border-radius: 0.5rem;
    padding: 0 0.3rem;
    transition: background-color, padding 0.2s;
}

.wrapper .right{
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 0 0.3rem;
    background-color: rgb(119, 215, 119);
}

.wrapper .incorrect{
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 0 0.3rem;
    background-color: rgb(216, 48, 48);
}
.wrapper .right:hover{
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 0 0.3rem;
    background-color: rgb(119, 215, 119);
}

.wrapper .incorrect:hover{
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 0 0.3rem;
    background-color: rgb(216, 48, 48);
}

.btn {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 0.8rem 2rem;
    margin-bottom: 2rem;
    border: none;
    background-color: rgb(61, 162, 61);
    color: white;
}

.btn:hover {
    cursor: pointer;
    transform: scale(0.9);
    opacity: 0.8;
    transition: all 0.1s;
}

.btn:active {
    cursor: pointer;
    transform: scale(0.9);
    background-color: rgb(21, 67, 21);
    transition: all 0.1s;
}